
<div style="background-color: #e7bfcb;">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <nav class="navbar justify-content-center">
    <h2>Personal Budget Manager</h2>
  </nav>

  <div class="row justify-content-center" >
    <div class="col-2 text-center">
        <h1>Realtime Visualization </h1>
        <h3>Add, Update or Delete expense and view real-time update on the dashboard</h3>
    </div>
    <div class="col">

      <img src="assets/image/3d.jpg" width="550px;" height="380px">
    </div>
    <div class="col-2 text-center">
      <h1>Keep your Data Safe with you</h1>
        <h3>Register or Login to your existing account and keep your data safe with us</h3>
    </div>

  </div>

  <div class="row text-center justify-content-center">

    <div class="col">
      <div class="card" >
      <div class="card-body">
        <form (ngSubmit)="login()">
        <h3>Login to your existing account</h3>

        <div class="form-group row justify-content-center p-2">
          <div class="col-xs-5">
          <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter Email ID" required>
        </div>
        </div>
        <br>
        <div class="form-group row justify-content-center">
          <div class="col-xs-5">
          <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Enter Password" required>
        </div>
        </div>
        <div class="form-group p-2">
          <button type="submit" class="w3-button w3-blue w3-round-xxlarge">Login</button>

        </div>
        <div class="register"><a href="#" routerLink="/register">New User ? Register</a></div>
        <div class="form-group p-3">
          <p *ngIf="errorMessage.length > 0" class="text-danger">
            {{errorMessage}}
          </p>
          <p *ngIf="error.message.length > 0" class="text-danger">
            {{error.message}}
          </p>
        </div>
      </form>

      </div>


      </div>
    </div>



</div>
</div>

