<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div style="background-color: rgb(243, 247, 246);">
<nav class="navbar navbar-dark">
  <b>Menu</b>

<button class="w3-button w3-blue w3-round-xxlarge" (click)="authservice.signout()"><b>Sign out</b></button>


</nav>


  <div class="row justify-content-center p-4">
    <h1> <b>Select month</b></h1>
  </div>
  <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Basic example">
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="F group">
      <button type="button" (click)="clickjan()" class="btn btn-outline-primary">January</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="S group">
      <button type="button" (click)="clickfeb()" class="btn btn-outline-primary">February</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="T group">
      <button type="button" (click)="clickmar()" class="btn btn-outline-primary">March</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="Fo group">
      <button type="button" (click)="clickapril()" class="btn btn-outline-primary">April</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="Fi group">
      <button type="button" (click)="clickmay()" class="btn btn-outline-primary">May</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="Si group">
      <button type="button" (click)="clickjune()" class="btn btn-outline-primary">June</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="Se group">
      <button type="button" (click)="clickjuly()" class="btn btn-outline-primary">July</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="E group">
      <button type="button" (click)="clickaug()" class="btn btn-outline-primary">August</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="N group">
      <button type="button" (click)="clicksept()" class="btn btn-outline-primary">September</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="Te group">
      <button type="button" (click)="clickoct()" class="btn btn-outline-primary">October</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="El group">
      <button type="button" (click)="clicknov()" class="btn btn-outline-primary">November</button>
    </div>
    <div class="btn-group mr-2 mt-2 mb-2" role="group" aria-label="Tw group">
      <button type="button" (click)="clickdec()" class="btn btn-outline-primary">December</button>
    </div>
  </div>
</div>
  <app-january *ngIf="this.month==0"></app-january>
  <app-february *ngIf="this.month==1"></app-february>
  <app-march *ngIf="this.month==2"></app-march>
  <app-april *ngIf="this.month==3"></app-april>
  <app-may *ngIf="this.month==4"></app-may>
  <app-june *ngIf="this.month==5"></app-june>
  <app-july *ngIf="this.month==6"></app-july>
  <app-august *ngIf="this.month==7"></app-august>
  <app-september *ngIf="this.month==8"></app-september>
  <app-october *ngIf="this.month==9"></app-october>
  <app-november *ngIf="this.month==10"></app-november>
  <app-december *ngIf="this.month==11"></app-december>

  <router-outlet></router-outlet>

