.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color:blue;
  font-size: 19px;
}
h1{
  color:blue;
}
button:disabled,
button[disabled]{
  background-color: #050700;
  color: #ebe2e2;
}
